*
!.gitignore
!main.tex
!preamble.tex
!abstract.tex
!introduction.tex
!experiment.tex
!result.tex
!conclusion.tex
!acknowledgement.tex
!reference.bib
!Fig0.pdf
!Fig1.pdf
!Fig2.pdf
!copper.pdf
!iron.pdf